@using NotesApp.Models.ViewModels
@model IEnumerable<NotesIndexVM>

<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">Notes List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Notes" asp-action="Public" class="btn btn-secondary">
                Public Notes
            </a>
            <a asp-controller="Home" asp-action="Logout" class="btn btn-secondary">
                Logout
            </a>
        </div>
    </div>
    <br />
    @if (TempData["wrong_pass"] != null)
    {
        <span class="text-danger">@TempData["wrong_pass"]</span>
    }
    <br />
    <div>
        <a asp-controller="Notes" asp-action="CreateNote" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> &nbsp; Create New Secure Note
        </a>
        <a asp-controller="Notes" asp-action="CreateCommonNote" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> &nbsp; Create New Note
        </a>
    </div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Note Title
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Title
                </td>
                <td width="25%">
                    <div class="w-75 btn-group" role="group">
                         <a asp-controller="Notes" asp-action="Password" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Show</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>