@using NotesApp.Models.ViewModels
@model PasswordVM

<div class="text-center">
    <h1 class="display-4">Enter the password</h1>
    <form method="post" asp-action="Show">
        <input asp-for="NoteId" hidden />
        <div class="border p-3 mt-4">
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Show Note</button>
            <a asp-controller="Notes" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
