@using NotesApp.Models
@model NoteDTO

<form method="post" asp-action="UpdatePOST">
    <input asp-for="Id" hidden />
    <input asp-for="PasswordHash" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Update Note</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" id="content_hid" hidden></textarea>
            <textarea class="form-control" oninput="GetText()" id="content" rows="7"> @Html.Raw(Model.Content) </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button type="submit" onclick="GetText" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Notes" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    <script>
                function GetText(){
                document.getElementById("content_hid").value = document.getElementById("content").value;
                }
    </script>
    }
}